* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #000000;
  color: #f5f5f5;
}


/*footer*/

.footer {
  display: flex;
  align-items: center;
  background: #111;
  color: #fff;
  gap: 16px;
  padding: 24px 16px;

  .footer-links {
    display: flex;
    gap: 40px;
    margin-left: 40px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;

    a {
      color: #fff;
      text-decoration: none;
    }

  }

  .footer-social {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: auto;
    margin-right: 40px;

    a {
      text-decoration: none;
      background: transparent;

      i {
        color: #fff;
        font-size: 30px;
      }
    }
  }
}




















