.paginaProducto {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.errorContainer {
  text-align: center;
  padding: 2rem;
}

.volverLink {
  display: block;
  margin-top: 2rem;
  text-align: center;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorSimilares {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
  margin-top: 20px;
  height: 200%;
}

.tarjetaSimilares {
  background-color:white;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  text-align: center;
  transition: transform 0.2s ease;
  width: 250px;
  height: 200%;
}

.tarjetaSimilares:hover {
  transform: translateY(-5px);
}

.imagenSimilares {
  width: 100%;
  height: 300px;
  object-fit: contain;
  margin-bottom: 10px;
  background-color: rgb(0, 0, 0);
}

.precio {
  font-weight: bold;
  color:rgb(0, 0, 0);
}

.similares{
  display: flex;
  align-items: center;
  justify-content: center;
}

.colorTarjeta{
  background-color:white
}

.nombreSimilares{
  color: black;
}

.descripcionSimilares{
  color: gray;
}

